main {
  min-height: 80vh;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}
h1 {
  text-transform: none;
}

/* CAROUSEL */


.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h2 {
  color: #ffffff;
}
.carousel img {
  /* height: 300px; */
  padding: 30px;
  margin: 40px;
  border-radius: 15%;
}
.carousel a {
  margin: 0 auto;
}
